1 RCDATA "..\\XLOG8X238_Firmware_Hex_BIN\\ReaderT_Standard\\XLOG6N093_VE1.23.hex"
2 RCDATA "..\\XLOG8X238_Firmware_Hex_BIN\\RFModuleT_Standard\\XLOG5H054_v255.bin"
3 RCDATA "..\\XLOG8X238_Firmware_Hex_BIN\\ReaderT_5\\XLOG6S108_VN1.23.hex"
4 RCDATA "..\\XLOG8X238_Firmware_Hex_BIN\\RFModuleT_5\\XLOG6R539_v032.bin"
